.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-form {
    padding-right: 10%;
  }
  
  
  .contact-form input,
  .contact-form textarea {
    border: 1px solid #6c7145;
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    color: #bfc8cd;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 50px;
    background-color: rgba(85, 82, 57, 0.75);
  
  }